@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.OffersCreatives>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!DOCTYPE HTML>

<html>
    <div>
        <p>@Model.Value("offersText")</p>
    </div>
</html>